@{
    ViewData["Title"] = "Thank you for your interest.";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Thank you for your interest.</h1>
            <div class="govuk-panel__body">
                <div class="govuk-!-font-size-27">
                    We will notify you of future developments.
                </div>
                
            </div>
        </div>
        <p class="govuk-body">Thank you for registering your interest in @(WebsiteConstnats.ProgramName).</p>
        <p class ="govuk-body">We will let you know of any future decisions related to this program.</p>
    </div>
</div>
